<!-- app/views/movies/index.html.erb -->

<h1>All Movies</h1>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.title %> - <%= movie.overview %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', :back %>
